$list-group-height: 78vH;
$list-group-background: $white;
$list-group-hover-background: $light-gray;
$list-group-font-color: $body-font-color;
$list-group-border: 2px solid $light-gray;
$list-group-border-radius: $global-radius;
$list-group-padding: ($global-padding * 1.5) ($global-padding * 1) ($global-padding * .5);
$list-group-margin: $global-margin;
$list-group-shadow: none;

.c-VideoList {
  height: $list-group-height;
  margin-top: $list-group-margin;
  margin-bottom: $list-group-margin;
  border: $list-group-border;
  border-radius: $list-group-border-radius;
  background: $list-group-background;
  box-shadow: $list-group-shadow;
  color: $list-group-font-color;
  list-style-type: none;
  overflow-y: scroll;
  overflow-x: hidden;

  & > :last-child {
    margin-bottom: 0;
  }
}

.c-VideoList-Item {
  padding: $list-group-padding;
  border-bottom: $list-group-border;
  cursor: pointer;

  &:hover, &:focus {
    background-color: $list-group-hover-background;
  }

  & > :last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}

